:root {
  --main-bg-color: #f3f3f3;
  --content-bg-color: #ffffff;
  --main-text-color: #1b1b1b;
  --header-text-color: #444444;
  
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-color: #0b5ed7;
  --secondary-color: #6c757d;
  
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
}

body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    margin-top: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--header-text-color);
    margin: 0;
  }
  
  .site-header .navbar-nav .nav-link {
    color: var(--black-color);
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: var(--primary-color);
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: var(--content-bg-color);
    padding: 10px 20px;
    border: 1px solid #ddddddcd;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.161);
  }
  
  .article-title {
    color: var(--header-text-color);
    text-decoration: none;
  }
  
  a.article-title:hover {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 50px;
    width: 50px;
    margin-right: 16px;
  }
  
  .nav-profile-icon {
    height: 25px;
    width: 25px;
  }
  
  .navbar-brand {
    color: var(--primary-color);
  }

  .navbar-brand:hover{
    color: var(--primary-color);
  }

  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
  }

  .article-metadata a {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  .article-metadata a:hover {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--content-bg-color);
    padding: 10px 20px;
    color: var(--main-text-color);
    border: 1px solid #ddddddcd;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.161); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar is above other elements */
}

.navbar h1 {
    font-size: 24px;
    font-weight: 600;
    
    color: var(--primary-color);
}

.navbar a {
    color: var(--main-text-color);
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

.navbar a:hover{
    color: var(--primary-color);
}

/* Left Section */
.navbar-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

/* Center Section */
.navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-center a {
    font-size: 24px; /* Adjust icon size */
}

/* Right Section */
.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-right a {
    margin-left: 20px;
}